[submodule "initial-demo"]
	path = initial-demo
	url = git@github.com:Dounder/next-vercel-demo.git
[submodule "pokemon-static"]
	path = pokemon-static
	url = git@github.com:Dounder/next-pokemon-static.git
[submodule "open-jira"]
	path = open-jira
	url = git@github.com:Dounder/nextjs-open-jira.git
